# Ambientes Virtuais
venv/
env/
.env

# Arquivos gerados pelo Python e Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Instâncias e saídas geradas pelo seu código
instancia_splitwise_*.txt
/metadados/
/content/metadados/

# Outros arquivos de sistema operacional
.DS_Store
Thumbs.db